<% if (boards.length>0) { %>
    <% boards.forEach(board => { %>
        <li class="px-2 py-3 border-t rounded hover:bg-gray-200">
            <a href="/my-boards/<%= board.id %>">
                <%= board.name %>
            </a>
        </li>
        <%}); } %>