.js-create-board {
    cursor: pointer;
}

body {
    font-family: "Nunito", sans-serif;
    background-repeat: no-repeat;
}

nav {
    padding: 12px 16px;
}

.nav-auth {
    margin-left: auto;
    margin-right: 10px;
}

.nav-auth img,
.fa-bell {
    cursor: pointer;
}

nav .logo-img img {
    cursor: pointer;
    height: 42px;
}

nav .fa-bell {
    top: 10px;
}

.logo-font {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.logo {
    margin-top: 30px;
    background: #4299e1;
    height: 150px;
    width: fit-content;
    padding: 0 3rem;
    line-height: 150px;
    text-align: center;
    color: white
}

.logo span {
    font-size: 2rem;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.left-34 {
    left: 34px;
}

.boards .fa-star.right {
    right: -2rem;
}

.board:hover .fa-star {
    right: 0;
    transition: 300ms ease-in-out;
}

.boards .fa-star:hover {
    color: #718096;
    font-size: 1.2rem;
    transition: 100ms ease-in-out;
}

.background-semi-trans {
    background: rgba(0, 0, 0, 0.15);
}

.list {
    min-width: 16rem;
    height: fit-content;
}

.lists .add-list i {
    top: 1.5rem;
    left: 1.3rem;
}

.lists .add-card i {
    top: 0.7rem;
    left: 0.75rem;
}

.w-60 {
    width: 15rem;
}

.lists .list ul li {
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    width: 15rem;
}

.text-color {
    color: #4a5568
}

nav .result {
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, .25), 0 0 0 1px rgba(9, 30, 66, .08);
}