<%- include('../template/head')-%>


    <body>

        <%- include('../template/nav')-%>
            <div data-aos="zoom-in" class=" bg-blue-500 w-full h-screen  px-10 flex flex-col justify-center">
                <h1 class="font-bold  logo-font text-6xl mb-2 text-white text-center">Ace </h1>
                <h1 class="font-bold text-3xl mb-2 text-white text-center"> Helps you and your teams work more collaboratively and get more done.</h1>
                <h1 class=" text-2xl mb-2 text-white text-center">Join the Ace family now!</h1>
                <button class="block mx-auto text-xl bg-green-500 hover:bg-green-400 text-white font-bold py-3 px-6 border-b-4 border-green-700 hover:border-green-500 rounded">
                Join Now
              </button>
            </div>

            <script src="/JS/modal.js"></script>
            <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
            <script>
                AOS.init();
            </script>
    </body>

    </html>