<%- include('../template/head')-%>


    <body>

        <%- include('../template/nav')-%>
            <div class="container">

                <form class="small-container">
                    <h3>Member Login</h3>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <span id="email-validation"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
                        <span id="password-validation"></span>
                        <!-- </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div> -->
                        <button type="submit" class="btn btn-primary">Log In</button>
                </form>


                <script>
                    const form = document.querySelector('form');
                    const emailError = document.querySelector('#email-validation');
                    const passwordError = document.querySelector('#password-validation');
                    form.addEventListener('submit', async(e) => {

                        e.preventDefault();

                        emailError.textContent = ' ';
                        passwordError.textContent = ' ';
                        const email = form.email.value;
                        const password = form.password.value;

                        try {
                            const res = await fetch('/login', {
                                method: 'POST',
                                body: JSON.stringify({
                                    email,
                                    password
                                }),
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            })

                            //return errors
                            const data = await res.json();

                            if (data.errors) {
                                emailError.textContent = data.errors.email;
                                passwordError.textContent = data.errors.password;
                            }
                            if (data.user) {
                                location.assign('/')
                            }

                        } catch (err) {
                            console.log(err);
                        }

                    })
                </script>

    </body>


    </html>