<%- include('../template/head')-%>


    <body>

        <%- include('../template/nav')-%>
            <div class="container">

                <form class="small-container" method="POST" action="">
                    <h3>Member Register</h3>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='email' placeholder="Enter email">
                        <span id="email-validation"></span>

                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="password">
                        <span id="password-validation"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Log In</button>
                </form>

    </body>

    </html>


    <script>
        const form = document.querySelector('form');
        const emailError = document.querySelector('#email-validation');
        const passwordError = document.querySelector('#password-validation');
        form.addEventListener('submit', async(e) => {

            e.preventDefault();

            emailError.textContent = "";
            passwordError.textContent = "";
            const email = form.email.value;
            const password = form.password.value;

            try {
                const res = await fetch('/signup', {
                    method: 'POST',
                    body: JSON.stringify({
                        email,
                        password
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })

                //return errors
                const data = await res.json();
                if (data.errors) {
                    emailError.textContent = data.errors.email;
                    passwordError.textContent = data.errors.password;
                }
                if (data.user) {
                    location.assign('/')
                }

            } catch (err) {
                console.log(err);
            }

        })
    </script>